.footer
  bottom: 0
  left: 0
  right: 0
  position: fixed
  z-index: 2

.content
  padding-bottom: 70px

.menu
  bottom: 5px
  left: 5px
  right: 0
  position: fixed
  z-index: 5

.adminSideBar
  position: fixed !important
  background: #fafbfb


.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2



