@use 'node_modules/@angular/material/index' as mat;
@use 'node_modules/@angular/material/theming' as matTheme;

// To generate a palette out of a color
// http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
@include mat.core();
@import 'src/styles';


$volcamp-palette-primary: (
  50 : #eef8ec,
  100 : #d4eecf,
  200 : #b7e3b0,
  300 : #9ad790,
  400 : #85cf78,
  500 : #6fc660,
  600 : #67c058,
  700 : #5cb94e,
  800 : #52b144,
  900 : #40a433,
  A100 : #efffed,
  A200 : #c1ffba,
  A400 : #93ff87,
  A700 : #7cff6e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$volcamp-palette-accent: (
  50 : #eaf3e8,
  100 : #cae0c5,
  200 : #a7cc9f,
  300 : #84b879,
  400 : #69a85c,
  500 : #4f993f,
  600 : #489139,
  700 : #3f8631,
  800 : #367c29,
  900 : #266b1b,
  A100 : #b1ffa7,
  A200 : #84ff74,
  A400 : #57ff41,
  A700 : #41ff27,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$volcamp-palette-warn: (
  50 : #ffe9e0,
  100 : #fec8b3,
  200 : #fda380,
  300 : #fc7e4d,
  400 : #fc6326,
  500 : #fb4700,
  600 : #fa4000,
  700 : #fa3700,
  800 : #f92f00,
  900 : #f82000,
  A100 : #ffffff,
  A200 : #ffedeb,
  A400 : #ffbeb8,
  A700 : #ffa69f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$volcamp-primary: mat.define-palette($volcamp-palette-primary);
$volcamp-accent: mat.define-palette($volcamp-palette-accent);
$volcamp-warn: mat.define-palette($volcamp-palette-warn);

$volcamp-theme: mat.define-light-theme((
  color: (
    primary: $volcamp-primary,
    accent: $volcamp-accent,
    warn: $volcamp-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));



$admin-palette-primary: (
  50 : #e7edff,
  100 : #c2d1ff,
  200 : #99b3ff,
  300 : #7095fe,
  400 : #527efe,
  500 : #3367fe,
  600 : #2e5ffe,
  700 : #2754fe,
  800 : #204afe,
  900 : #1439fd,
  A100 : #ffffff,
  A200 : #f9faff,
  A400 : #c6cdff,
  A700 : #adb7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$admin-palette-warn: (
  50 : #ffedf1,
  100 : #ffd2dc,
  200 : #ffb4c4,
  300 : #fe95ac,
  400 : #fe7f9b,
  500 : #fe6889,
  600 : #fe6081,
  700 : #fe5576,
  800 : #fe4b6c,
  900 : #fd3a59,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe1e6,
  A700 : #ffc8d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$admin-palette-accent: (
  50 : #e5e5e9,
  100 : #bdbfc7,
  200 : #9195a2,
  300 : #656a7d,
  400 : #444a61,
  500 : #232a45,
  600 : #1f253e,
  700 : #1a1f36,
  800 : #15192e,
  900 : #0c0f1f,
  A100 : #5f76ff,
  A200 : #2c4aff,
  A400 : #0023f8,
  A700 : #0020df,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$admin-primary: mat.define-palette($admin-palette-primary);
$admin-accent: mat.define-palette($admin-palette-accent);
$admin-warn: mat.define-palette($admin-palette-warn);


$volcamp-admin-theme: mat.define-light-theme((
  color: (
    primary: $admin-primary,
    accent: $admin-accent,
    warn: $admin-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));



.user-theme{
  @include theme-color-grabber($volcamp-theme);
  @include matTheme.angular-material-theme($volcamp-theme);
}


.admin-theme {
  @include theme-color-grabber($volcamp-admin-theme);
  @include matTheme.angular-material-theme($volcamp-admin-theme);

}
