<mat-tab-group>
  <mat-tab label="Type">
    <mat-chip-option class="chips" *ngFor="let type of  planningsType"
                     (click)="selectOption(type,planningsTypeSelected)"
                     [selected]="planningsTypeSelected.indexOf(type) >= 0"><p class="f5">{{type}}</p></mat-chip-option>
  </mat-tab>
  <mat-tab label="Theme">
    <mat-chip-option class="chips" *ngFor="let theme of  planningsTheme"
                     (click)="selectOption(theme.name,planningsThemeSelected)"
                     [selected]="planningsThemeSelected.indexOf(theme.name) >= 0"><p class="f5">
      {{theme.description}}
    </p>
    </mat-chip-option>
  </mat-tab>
  <mat-tab label="Date">
    <section class="example-section">
      <ul>
        <li>
          <mat-checkbox *ngFor="let date of datesConference" (click)="selectDate(date)"
                        [checked]="isDateSelected(date)">{{formatDate(date)}}</mat-checkbox>
        </li>
      </ul>
    </section>
  </mat-tab>

</mat-tab-group>
