<div mat-dialog-content>
  <mat-stepper #stepper>
    <!--------------------------- Step --------------------------->
    <mat-step [stepControl]="infoStepper" errorMessage="Information manquante">
      <form class="bigForm">
        <ng-template matStepLabel>Information de Talk</ng-template>
        <div class="form">
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input required matInput [formControl]="titleForm">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Niveau</mat-label>
            <input matInput [formControl]="levelForm">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Language</mat-label>
            <input matInput [matAutocomplete]="autoLanguage" [formControl]="languageForm"/>
            <mat-autocomplete #autoLanguage="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="12"
                    [formControl]="descriptionForm"></textarea>
        </mat-form-field>

      </form>
    </mat-step>

    <!--------------------------- Theme --------------------------->

    <mat-step [stepControl]="themeStepper" errorMessage="Choisi le theme">
      <ng-template matStepLabel>Theme</ng-template>
      <mat-chip-listbox [formControl]="themeForm">
        <div *ngFor="let theme of themes">
          <mat-chip-option [value]="theme" selected="{{theme.id === themeForm.value.id}}">{{theme.name}}</mat-chip-option>
        </div>
      </mat-chip-listbox>
    </mat-step>

    <!--------------------------- Format --------------------------->

    <mat-step [stepControl]="formatStepper" errorMessage="Choisi le format">
      <ng-template matStepLabel>Format</ng-template>
      <mat-chip-listbox [formControl]="formatForm">
        <div *ngFor="let format of formats">
          <mat-chip-option [value]="format" selected="{{format.id === formatForm.value.id}}">{{format.name}}</mat-chip-option>
        </div>
      </mat-chip-listbox>
    </mat-step>

    <!--------------------------- Speaker --------------------------->

    <mat-step>
      <ng-template matStepLabel>Choisi les Speaker</ng-template>
      <app-drag-lists titleFrom="Speakers" titleTo="Speakers for the talk" [to]="speakersToAdd" [from]="speakers"
                      [itemDisplayTemplate]="itemTemplate" [itemDisplayPreview]="itemTemplatePreview">
        <ng-template #itemTemplate let-item>
          <span class="h3">{{item.name}}</span>
        </ng-template>

        <ng-template #itemTemplatePreview let-item>
          <span class="h3">{{item.name}}</span>
        </ng-template>
      </app-drag-lists>
    </mat-step>

    <!--------------------------- Conference --------------------------->

    <mat-step [stepControl]="formatStepper" errorMessage="Choisi la conference">
      <ng-template matStepLabel>Conference</ng-template>
      <mat-chip-listbox [formControl]="confForm">
        <div *ngFor="let conference of conferences">
          <mat-chip-option [value]="conference" selected="{{(conference.id === confCurrent.id && data === undefined)
                                                                              || conference.id === confForm.value.id}}">
            {{conference.name}}
          </mat-chip-option>
        </div>
      </mat-chip-listbox>
    </mat-step>
  </mat-stepper>

  <div mat-dialog-actions style="display: flex" class="pinBottom">
    <button color="warn" mat-button (click)="closeDialog()">Annuler</button>
    <span class="volcamp-spacer"></span>
    <button color="accent" mat-button (click)="stepper.next()">Suivant</button>
    <button color="primary" mat-button (click)="add()">Valider</button>
  </div>
</div>

