@use '@angular/material/theming' as mat
@import "src/app/theme"
@import "src/styles"
@import '@angular/material/theming'

.speakerpreviewImage
  border-radius: 100%
  +widthResponsive(20vw,20vw,6vw,6.5vw,6vw)

.container
  padding: 0.8rem
  border-radius: 8px
  transition: all .25s ease-in-out
  +widthResponsive(25vw,25vw,11vw,11.5vw,11vw)

.info
  margin-top: 1rem

.info h1, p
  color: #fff
  text-align: center

.wrap
  white-space: pre-wrap

.card
  transition: all .25s ease-in-out
  align-self: center

.card main
  position: relative

.container2
  justify-content: center
  align-content: center
  display: flex
  flex-direction: column
  transition: all .2s

