.speakerpreviewImage
  border-radius: 50%
  @media screen and (min-width: 240px) /* Mobile devices */
    width: 20vw
  @media screen and (min-width: 768px) /* iPads, Tablets */
    width:10vw
  @media screen and (min-width: 1024px) /* Small screens, laptops */
    width:7vw
  @media screen and (min-width: 1200px) /* Desktops, large screens */
    width:7vw

.speakerpreviewContainer
  display: flex
  flex-direction: column
  align-items: center

