<h1 mat-dialog-title>Ajout Talk</h1>
<div mat-dialog-content>
  <mat-stepper #stepper>
    <!--------------------------- Step --------------------------->
    <mat-step [stepControl]="firstStepper " errorMessage="Name is required.">
      <form  class="bigForm">
        <ng-template matStepLabel>Information de Talk</ng-template>
        <div class="form">
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input required matInput  [formControl]="titleForm">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Niveau</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Langage</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="12"
          ></textarea>
        </mat-form-field>

      </form>
    </mat-step>

    <!--------------------------- Theme --------------------------->

    <mat-step>
      <ng-template matStepLabel>Theme</ng-template>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let theme of themes">{{theme.name}}</mat-chip-option>
      </mat-chip-listbox>

    </mat-step>

    <!--------------------------- Format --------------------------->

    <mat-step>
      <ng-template matStepLabel>Format</ng-template>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let format of formats">{{format.name}}</mat-chip-option>

      </mat-chip-listbox>
    </mat-step>

    <!--------------------------- Speaker --------------------------->

    <mat-step>
      <ng-template matStepLabel>Choisi les Speaker</ng-template>
      <app-drag-lists  titleFrom="Speakers" titleTo="Speakers for the talk" [to]="speakersToAdd" [from]="speakers" [itemDisplayTemplate]="itemTemplate" [itemDisplayPreview]="itemTemplatePreview">
        <ng-template #itemTemplate let-item>
          <span class="h3">{{item.name}}</span>
        </ng-template>

        <ng-template #itemTemplatePreview let-item>
          <app-speaker-preview name="{{item.name}}" company="{{item.company}}" photo="{{item.photo}}"></app-speaker-preview>
        </ng-template>
      </app-drag-lists>
    </mat-step>

    <!--------------------------- Conference --------------------------->

    <mat-step>
      <ng-template matStepLabel>Conference</ng-template>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let conference of conferences">{{conference.name}}</mat-chip-option>
      </mat-chip-listbox>
    </mat-step>



  </mat-stepper>

  <div mat-dialog-actions style="display: flex">
    <button color="accent" mat-button (click)="stepper.next()">Suivant</button>
    <span class="volcamp-spacer"></span>
    <button color="warn" mat-button (click)="closeDialog()">Annuler</button>
    <button color="primary" mat-button (click)="add()">Ajouter</button>

  </div>
</div>

