<div class="centerContainer contentPage">
  <div *ngIf="vm.talk!=null">
    <div class="lineContentContainer">
      <div class="leftItem">
        <div class="centerLineContent">
          <span class="f1">{{vm.talk.title}}</span>
          <img class="flag" src="/assets/image/flags/{{vm.talk.language!.toLowerCase().slice(0,2)}}.png"
               alt="language flag"/>
        </div>

      </div>
      <span class="rightItem f3">{{vm.talk.level}}</span>
    </div>
    <div class="lineContentContainer ">

      <div class="leftItem">
        <div class="typeFormatContainer centerLineContent">
          <span class="dot" style="background:{{vm.colorTheme}}"></span>
          <span class="f3">{{vm.talk.theme.description}}</span>
        </div>
      </div>

      <div class="typeFormatContainer rightItem centerLineContent">
        <mat-icon aria-hidden="false" aria-label="type icon">{{vm.iconFormat}}</mat-icon>
        <span class="f3">{{vm.talk.format.type}}</span>
      </div>
    </div>

    <div class="scrollmenu">
      <app-speaker-preview class="speakerPreview" *ngFor="let speaker of vm.talk!.speakers"
                           name="{{speaker.name}}" photo="{{speaker.photo}}" company="{{speaker.company}}"
                           (click)="navigate(speaker)"></app-speaker-preview>
    </div>

    <div class="lineContentContainer ">

      <div class="leftItem">
        <div class="typeFormatContainer centerLineContent">
          <span *ngIf="vm.room" class="f3">Salle <span style="font-weight: bold">{{vm.room}}</span></span>
        </div>
      </div>

      <div class="typeFormatContainer rightItem centerLineContent">
        <span *ngIf="vm.planningTime" class="f3"> à  <span style="font-weight: bold">{{vm.planningTime}}</span></span>
      </div>
    </div>

    <div class="lineContentContainer ">
      <span class="f4">{{vm.talk.description}}</span>
    </div>

    <app-volcamp-feedback talkId="{{vm.talk.id}}"></app-volcamp-feedback>

  </div>

</div>
<app-loader *ngIf="vm.talk===undefined && vm.noConnection !== true"></app-loader>
<div *ngIf="vm.noConnection === true">
  <app-no-connection></app-no-connection>
</div>
