<div class="card adminTalkBGGradientBefore">
  <div class="content">
    <p class="heading f5">{{talk.id}} - {{talk.title.length > 20 ? talk.title.slice(0, 20) + " ..." : talk.title}}</p>

    <p class="para f6">
      {{talk.description != undefined ? talk.description.length > 75 ? talk.description.slice(0, 75) + " ..." : talk.description :  "" }}
    </p>
    <div class="actionContainer">
      <app-admin-delete-btn name="{{talk.title}}" id="{{talk.id}}" [dialogToOpen]=deleteDialog
                            (click)="$event.stopPropagation()"></app-admin-delete-btn>
      <app-admin-edit-btn [item]="talk" [dialogToOpen]=editDialog
                          (click)="$event.stopPropagation()"></app-admin-edit-btn>
    </div>
  </div>
</div>
