<div class="card adminTalkBGGradientBefore">
  <div class="content">
    <p class="heading f5">{{talk.id}} - {{talk.title.length > 20 ? talk.title.slice(0,20)+"..." : talk.title}}</p>

    <p class="para f6">
      {{talk.description != undefined ? talk.description.slice(0,50)+"..." : ""}}
  </p>
    <div class="actionContainer">
     <app-admin-delete-btn name="{{talk.title}}" id="{{talk.id}}" [dialogToOpen]=deleteDialog></app-admin-delete-btn>
      <app-admin-edit-btn item="{{talk}}" [dialogToOpen]=editDialog></app-admin-edit-btn>
    </div>
  </div>
</div>
