<div class="container">
  <div  class="sideIndicater" style="height:{{height}}px;
  background:{{color}}">
    <span class="f4 nowrap">
      {{talkPlanning.talk.theme.description}}
    </span>
  </div>

  <div class="mainItem">
    <div #element1  class="lineContentContainer">
      <div class="leftItem" style="display: flex">
        <span class="f2">{{talkPlanning.talk.title}}</span>
      </div>
      <span class="rightItem f4"> {{startDate.toLocaleTimeString('fr-FR').slice(0, 5).replace(":", "h")}}
        - {{endDate.toLocaleTimeString('fr-FR').slice(0, 5).replace(":", "h")}} </span>
    </div>
    <span #element2 class="f3" style="margin: 0; padding: 0;">
      {{speakersNames}}
    </span>
    <span  #element3 class="f3">{{talkPlanning.room.name[0].toUpperCase() + talkPlanning.room.name.slice(1).toLowerCase()}}</span>
    <div  #element4 class="lineContentContainer">
      <div class="leftItem">
        <mat-icon matBadge="{{talkPlanning.room.capacity}}" matBadgeColor="warn">favorite</mat-icon>
      </div>
      <div class="rightItem centerLineContent gap">
        <app-add-favorite (capacityChange)="onClick($event)" [capacity]=talkPlanning.room.capacity
                          [planning]="talkPlanning"></app-add-favorite>
      </div>

    </div>
  </div>

</div>






