.container
  display: grid

.sideIndicater
  display: flex
  border-radius: 50px
  justify-content: center
  text-orientation: mixed
  writing-mode: vertical-rl
  grid-column: 1
  grid-row: 1
  padding: 5px
  width: fit-content
  height: fit-content+100px
  margin-right: 15px

.mainItem
  grid-column: 2 / 1000
  grid-row: 1
  display: grid
  gap: 10px


.gap
  display: flex
  gap: 10px


