.container
  display: grid

.sideIndicater
  display: flex
  border-radius: 50px
  justify-content: center
  text-orientation: mixed
  writing-mode: vertical-rl
  grid-column: 1
  grid-row: 1
  padding: 5px
  width: fit-content

.mainItem
  grid-column: 2 / 40
  grid-row: 1
  display: grid
  gap: 10px


.lineContentContainer
  display: grid


.leftItem
  grid-row: 1
  grid-column: 1

.rightItem
  grid-row: 1
  grid-column: 50
  width: fit-content

h1, h2, h3
  font-weight: normal



