<div cdkDropListGroup class="containerDragLists">
  <div class="list">
    <h4 class="accentColorFG">{{titleFrom}}</h4>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchValueFrom">
      <button *ngIf="searchValueFrom" matSuffix mat-icon-button (click)="clearFrom()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div
      class="listDrag"
      cdkDropList
      [cdkDropListData]="from | filterSearch: searchValueFrom"
      (cdkDropListDropped)="drop($event,true)">
        <div *ngFor="let item of from | filterSearch: searchValueFrom" cdkDrag class="dragItem zoomOutCard">
          <ng-container [ngTemplateOutlet]="itemDisplayTemplate"
                        [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          <mat-divider></mat-divider>
          <div *cdkDragPreview class="draggedItem">
            <ng-container [ngTemplateOutlet]="itemDisplayPreview"
                          [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          </div>
        </div>
    </div>
  </div>


  <div class="list">
    <h4 class="primaryColorFG">{{titleTo}}</h4>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchValueTo">
      <button *ngIf="searchValueTo" matSuffix mat-icon-button (click)="clearTo()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div
      class="listDrag"
      cdkDropList
      [cdkDropListData]="to | filterSearch : searchValueTo"
      (cdkDropListDropped)="drop($event,false)">
        <div *ngFor="let item of to | filterSearch : searchValueTo" cdkDrag class="dragItem zoomOutCard">
          <ng-container [ngTemplateOutlet]="itemDisplayTemplate"
                        [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          <div *cdkDragPreview class="draggedItem">
            <ng-container [ngTemplateOutlet]="itemDisplayPreview"
                          [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
  </div>
</div>

