<mat-action-list role="list">
  <mat-list-item [routerLink]="[planningRoute]">
    <div class="container">
      <mat-icon aria-hidden="false" aria-label="session icon" fontIcon="date_range"></mat-icon>
      Plannings
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="[talkRoute]">
    <div class="container">
      <mat-icon svgIcon="talk"></mat-icon> Talks
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="[speakerRoute]">
    <div class="container">
      <mat-icon svgIcon="speaker"></mat-icon> Speaker
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>



</mat-action-list>
