<div class="containerRoom">
  <span class=" warnColor title">{{room.name}}</span>
  <div dir="rtl" class="notSelectable">
    <mwl-calendar-day-view
      [minimumEventHeight]=minEventDuration
      [hourDuration]="hourDuration"
      [hourSegments]="hourProperties.segmentHour"
      [dayStartHour]="hourProperties.startHour"
      [dayEndHour]="hourProperties.endHour"
      [viewDate]="viewDate"
      [events]="eventsDefault"
      [refresh]="refresh"
      [snapDraggedEvents]="false"
      [validateEventTimesChanged]="validateEventTimesChanged"
      (eventTimesChanged)="eventManger($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
