<div class="centerContainer contentPage">
  <div *ngIf="vm.speaker!=null">
    <div class="preview speakerpreviewContainer">
      <img class="imagSpeaker" src="{{vm.speaker.photo}}" (error)="vm.speaker.photo='/assets/image/defaultProfile.png'" alt="{{vm.speaker.name}}">
      <span class="f1">{{vm.speaker.name}}</span>
    </div>
    <div class="contentDetailSpeaker">
      <span class="f4 centerLineContent"><mat-icon aria-hidden="false" color="accent" aria-label="speaker icon"
                                                   fontIcon="business_center"></mat-icon>
        {{vm.speaker.company}}</span>
      <div class="centerLineContent">
        <app-linkedin-btn userId="{{vm.speaker.linkedin}}" class="socialMediaSpeaker"/>
        <app-twitter-btn userId="{{vm.speaker.twitter}}" class="socialMediaSpeaker "/>
      </div>
      <span class="f4">{{vm.speaker.biography}}</span>
    </div>
  </div>
</div>
<app-loader *ngIf="vm.speaker===undefined"></app-loader>
