<div class="centerContainer contentPage">

  <div *ngIf="speaker!=null">
    <div class="preview speakerpreviewContainer">
      <img class="imagSpeaker" src="{{speaker.photo}}">
      <span class="f1">{{speaker.name}}</span>

    </div>
    <div class="contentDetailSpeaker">
      <span class="f4 centerLineContent"><mat-icon aria-hidden="false" color="accent" aria-label="speaker icon" fontIcon="business_center"></mat-icon>
Agaetis</span>
      <div class="centerLineContent">
        <a  href="{{speaker.linkedin}}" color="linkedin"  mat-flat-button class="f7 socialMediaSpeaker"><mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="linkedin link" /> Linkedin </a>
        <a  href="{{speaker.twitter}}"  color="twitter"  mat-flat-button class="f7 socialMediaSpeaker "> <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="twitter link" /> Twitter</a>
      </div>
       <span class="f4">{{speaker.biography}}</span>

    </div>


  </div>

  <div *ngIf="speaker==null">
    <mat-spinner></mat-spinner>
  </div>
</div>
