<div class="speaker-card">
  <mat-card>
    <mat-card-header>
      <img src="{{speaker.photo}}"  mat-card-avatar class="header-image" alt="{{speaker.name}} avatar" />
      <mat-card-title><span class="f3">{{speaker.name}}</span></mat-card-title>
      <mat-card-subtitle class="f5">{{speaker.company}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <app-linkedin-btn userId="{{speaker.linkedin}}" class="socialMedia"/>

      <app-twitter-btn userId="{{speaker.twitter}}" class="socialMedia"/>
    </mat-card-actions>
  </mat-card>
</div>
