<div class="card-container">
  <mat-card class="custom-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Volcampanion - CleverCloud</mat-card-title>
      <mat-card-subtitle>Ce site est hébergé par CleverCloud</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin: 2px"
         src="https://www.clever-cloud.com/app/themes/Starter/assets/img/brand-assets/logo_on_white.svg"
         alt="Photo of Clever Cloud">
    <mat-card-content>
      <p style="font-size: 2vw">
        Nous remercions chaleureusement CleverCloud de nous permettre d'héberger notre application Volcampanion chez eux
        pendant la durée de l'évènement ❤️.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="custom-card" style="margin-top: 10px;" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Volcamp - Hall32</mat-card-title>
      <mat-card-subtitle>Plan des salles</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p style="font-size: 2vw">
        La salle G10 est dédiée aux Workshops.
      </p>
    </mat-card-content>
    <img mat-card-image style="margin: 2px" src="assets/image/plan2024.jpg"
         alt="Photo of a Hall32 plan">
    <mat-card-content>
      <p style="font-size: 2vw">
        * Un vestiaire est également présent à l'entrée non loin de l'accueil.
      </p>
    </mat-card-content>
  </mat-card>

</div>
