<div class="containerVolcamp">
  <div class="paint">
    <div class="clouds">
      <div class="x1">
        <app-cloud></app-cloud>
      </div>
      <div class="x1_5">
        <app-cloud></app-cloud>
      </div>
      <div class="x2">
        <app-cloud></app-cloud>
      </div>
      <div class="x3">
        <app-cloud></app-cloud>
      </div>
      <div class="x4">
        <app-cloud></app-cloud>
      </div>
      <div class="x5">
        <app-cloud></app-cloud>
      </div>
    </div>
    <div class="astronaut">
      <app-astronaut></app-astronaut>
    </div>

    <div class="sunVolcmap">
      <app-sun></app-sun>
    </div>
  </div>

  <div class='c'>
    <div class='_404'>404</div>
    <div class='_1'>LA PAGE</div>
    <div class='_2'>N'EXISTE PAS</div>
  </div>
  <div class="volcan">
    <img src="/assets/image/not-found/vol.png" class="footer">
  </div>

</div>



