.containerVolcamp
  color: #6fc660
  font-family: 'Open Sans', sans-serif
  max-height: 700px
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center

.c
  text-align: center
  position: absolute
  top: 25%
  display: block
  width: 100%

._404
  font-size: 20vw
  position: relative
  display: inline-block
  letter-spacing: 10px

._1
  text-align: center
  display: block
  position: relative
  letter-spacing: 12px
  font-size: 4em
  line-height: 80%

._2
  text-align: center
  display: block
  position: relative
  font-size: 20px

.text
  font-size: 70px
  text-align: center
  position: relative
  display: inline-block
  margin: 19px 0 0 0
  /* top:  256.301px */
  z-index: 1
  width: 100%
  line-height: 1.2em


.btnEdit
  border: solid
  position: relative
  display: inline-block
  width: 358px
  padding: 5px
  z-index: 5
  font-size: 25px
  margin: 0 auto
  color: #6fc660
  border-color: transparent
  text-decoration: none
  margin-right: 10px

.btnEdit:hover
  border: solid
  background-color: #6fc660
  color: #fff
  border-color: #fff


.x1
  top: -50px
  left: 100px
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  transform: scale(0.3)
  opacity: 0.9
   animation: moveclouds 15s linear infinite
  -webkit-animation: moveclouds 15s linear infinite
  -moz-animation: moveclouds 15s linear infinite
  -o-animation: moveclouds 15s linear infinite


.x1_5
  top: -80px
  left: 250px
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  transform: scale(0.3)
  animation:  moveclouds 17s linear infinite
  -webkit-animation: moveclouds 17s linear infinite
  -moz-animation: moveclouds 17s linear infinite
  -o-animation: moveclouds 17s linear infinite


.x2
  left: 250px
  top: 30px
  -webkit-transform: scale(0.6)
  -moz-transform: scale(0.6)
  transform: scale(0.6)
  opacity: 0.6
  animation: moveclouds 25s linear infinite
  -webkit-animation: moveclouds 25s linear infinite
  -moz-animation: moveclouds 25s linear infinite
  -o-animation: moveclouds 25s linear infinite


.x3
  left: 250px
  bottom: -70px
  -webkit-transform: scale(0.6)
  -moz-transform: scale(0.6)
  transform: scale(0.6)
  opacity: 0.8
  animation: moveclouds 30s linear infinite
  -webkit-animation: moveclouds 30s linear infinite
  -moz-animation: moveclouds 30s linear infinite
  -o-animation: moveclouds 30s linear infinite


.x4
  left: 470px
  botttom: 20px
  -webkit-transform: scale(0.75)
  -moz-transform: scale(0.75)
  transform: scale(0.75)
  opacity: 0.75
  animation: moveclouds 18s linear infinite
  -webkit-animation: moveclouds 18s linear infinite
  -moz-animation: moveclouds 18s linear infinite
  -o-animation: moveclouds 18s linear infinite


.x5
  left: 200px
  top: 300px
  -webkit-transform: scale(0.5)
  -moz-transform: scale(0.5)
  transform: scale(0.5)
  opacity: 0.8
  animation: moveclouds 20s linear infinite
  -webkit-animation: moveclouds 20s linear infinite
  -moz-animation: moveclouds 20s linear infinite
  -o-animation: moveclouds 20s linear infinite

@-webkit-keyframes moveclouds
  from
    margin-left: 1850px
  to
    margin-left: -2000px

@-moz-keyframes moveclouds
  from
    margin-left: 1850px
  to
    margin-left: -2000px

@-o-keyframes moveclouds
  from
    margin-left: 1850px
  to
    margin-left: -2000px

@keyframes moveclouds
  from
    margin-left: 1850px
  to
    margin-left: -2000px

.volcan
  text-align: center
  display: block
  position: relative
  margin: auto

.volcan img
  position: fixed
  bottom: 55px
  right: 50px
  width: 35vw

.sunVolcmap
  top : 115px
  left: 80px
  width: 30vw
  position: fixed


.paint
  display: block
  position: relative

.clouds
  z-index: 2
  position: fixed
