<span>
  <mat-toolbar >
    <button mat-button class="example-icon" aria-label="favorite button">
      <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite"></mat-icon>
      Favorites
    </button>
    <span class="volcamp-spacer"></span>
    <button mat-button  class="example-icon" aria-label="session button">
      <mat-icon aria-hidden="false" aria-label="session icon" fontIcon="date_range"></mat-icon>
      Sessions
    </button>
    <span class="volcamp-spacer"></span>
    <button mat-button class="example-icon" aria-label="speaker button">
      <mat-icon aria-hidden="false" aria-label="speaker icon" fontIcon="groups"></mat-icon>
      Speakers
    </button>
  </mat-toolbar>
</span>
