<div>
  <mat-toolbar >
    <button  id="{{favoriteRoute}}" [routerLink]="[favoriteRoute]" mat-button class="example-icon" aria-label="favorite button" (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite"></mat-icon>
      Favorites
    </button>
    <span class="volcamp-spacer"></span>
    <button id="{{homeRoute}}" [routerLink]="[homeRoute]"  mat-button  class="example-icon" aria-label="session button" (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="session icon" fontIcon="date_range"></mat-icon>
      Sessions
    </button>
    <span class="volcamp-spacer"></span>
    <button id="{{speakerRoute}}" [routerLink]="[speakerRoute]"  mat-button class="example-icon" aria-label="speaker button" (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="speaker icon" fontIcon="groups"></mat-icon>
      Speakers
    </button>
  </mat-toolbar>
</div>
