<span *ngIf="isMobile">
  <mat-toolbar>
    <button id="{{homeRoute}}" [routerLink]="[homeRoute]" mat-button class="iconBtn" aria-label="session button"
            (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="session icon" fontIcon="date_range"></mat-icon>
      Sessions
    </button>
    <span class="volcamp-spacer"></span>
    <button id="{{speakerRoute}}" [routerLink]="[speakerRoute]" mat-button class="iconBtn" aria-label="speaker button"
            (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="speaker icon" fontIcon="groups"></mat-icon>
      Speakers
    </button>
    <span *ngIf="logged" class="volcamp-spacer"></span>
     <button [routerLink]="[favoriteRoute]" mat-button aria-label="favorite button" *ngIf="logged">
      <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite"></mat-icon>
      Favorites
    </button>
  </mat-toolbar>
</span>
