<span *ngIf="isMobile">
  <div style="background-color: whitesmoke">
  <mat-toolbar>
    <button id="{{homeRoute}}" [routerLink]="[homeRoute]" mat-button class="iconBtn" aria-label="session button"
            (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="session icon" fontIcon="date_range"></mat-icon>
      Sessions
    </button>
    <span *ngIf="logged" class="volcamp-spacer"></span>
     <button id="{{favoriteRoute}}" [routerLink]="[favoriteRoute]" mat-button class="iconBtn"
             aria-label="favorite button" *ngIf="logged" (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite"></mat-icon>
      Favorites
    </button>
    <span class="volcamp-spacer"></span>
    <button id="{{speakerRoute}}" [routerLink]="[speakerRoute]" mat-button class="iconBtn" aria-label="speaker button"
            (click)="onClick($event)">
      <mat-icon aria-hidden="false" aria-label="speaker icon" fontIcon="groups"></mat-icon>
      Speakers
    </button>

  </mat-toolbar>
    <mat-grid-list cols="8" rowHeight="1rem" style="margin-bottom: 2px !important;">
      <mat-grid-tile [colspan]="2">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
      <span style="" class="f5"> Ce site est hebergé par &nbsp; </span>
      <img style="max-height: 20px"
           src="https://www.clever-cloud.com/app/themes/Starter/assets/img/brand-assets/logo_on_white.svg">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</span>
