
.container
  display: flex
  justify-content: center

.containerSecond
  display: flex
  flex-direction: column
  align-content: center
  text-align: center
  gap: 20px

.noConnectionText
  letter-spacing: 10px

.noConnectionImage
  place-self: center
  @import "src/styles"
  +widthResponsive(60vw,60vw,20vw,20vw,20vw)

