<div *ngFor="let plan of  plans ">
  <div class="containerBig">
    <div class="miniView content contentPage" *ngIf="plan.getType() === BREAK">
      <app-break-teaser-view [breakPlan]="$any(plan)"/>
    </div>

    <div class="miniView" *ngIf="plan.getType() === DELIMITER_DAY">
      <app-divider-teaser-view [datePlan]="$any(plan)"/>
    </div>

    <div class="miniView content contentPage" *ngIf="plan.getType() !== DELIMITER_DAY && plan.getType() !== BREAK">
      <app-talk-teaser-view [talkPlan]="$any(plan)"/>
    </div>
  </div>
</div>
