<div class="containerPlanning">
  <div *ngFor="let planning of plannings " style="">
    <div class="containerBig" style="">

      <div [ngSwitch]="planning.getType()" *ngIf="planning !== undefined; else blank">

        <div *ngSwitchCase="DELIMITER_DAY">
          <app-divider-teaser-view [dividerPlanning]="$any(planning)"/>
        </div>

        <div class="miniView contentPage break" *ngSwitchCase="BREAK" style="margin: 0 auto">
          <app-break-teaser-view [breakPlanning]="$any(planning)"/>
        </div>

        <div class="miniView contentPage zoomOutCard content contentWidth shadow size{{nbItem}}"
             (click)="navigate($any(planning))"
             *ngSwitchDefault matRipple>
          <app-talk-teaser-view [talkPlanning]="$any(planning)" [inItem]="nbItem"/>
        </div>
      </div>
    </div>
    <ng-template #blank>
      <div class="contentWidth contentDesktop"></div>
    </ng-template>

  </div>
</div>
