<div *ngFor="let plan of  plans ">
  <div class="containerBig">
    <div class="miniView" *ngIf="plan.getType() === DELIMITER_DAY">
      <app-divider-teaser-view [dividerPlanning]="$any(plan)"/>

    </div>

    <div class="miniView contentPage" *ngIf="plan.getType() === BREAK">
      <app-break-teaser-view [breakPlanning]="$any(plan)"/>
    </div>

    <div class="miniView contentPage zoomOutCard content shadow" (click)="navigate($any(plan))"
         *ngIf="plan.getType() !== DELIMITER_DAY && plan.getType() !== BREAK">
      <app-talk-teaser-view [talkPlanning]="$any(plan)"/>
    </div>
  </div>
</div>
