<div class="containerPlanning">

  <div *ngFor="let planning of  plannings ">
    <div class="containerBig">

      <div [ngSwitch]="planning.getType()" *ngIf="planning !== undefined; else blank" >

        <div class="miniView" *ngSwitchCase="DELIMITER_DAY">
          <app-divider-teaser-view [dividerPlanning]="$any(planning)"/>
        </div>

        <div class="miniView contentPage break" *ngSwitchCase="BREAK">
          <app-break-teaser-view [breakPlanning]="$any(planning)"/>
        </div>

        <div class="miniView contentPage zoomOutCard content contentWidth shadow" (click)="navigate($any(planning))"
             *ngSwitchDefault matRipple>
          <app-talk-teaser-view [talkPlanning]="$any(planning)"/>
        </div>
      </div>
    </div>
    <ng-template #blank>
        <div class="contentWidth contentDesktop"></div>
    </ng-template>

  </div>
</div>
