<p>
  <mat-toolbar color="primary">
    <span>Volcampanion</span>

    <span class="volcamp-spacer"></span>

    <button  mat-icon-button class="example-icon favorite-icon" aria-label="filter button">
        <mat-icon aria-hidden="false" aria-label="filter icon" fontIcon="filter_list"/>
    </button>
    <button mat-icon-button class="example-icon" aria-label="user button">
      <mat-icon aria-hidden="false" aria-label="user icon" fontIcon="account_circle"/>
    </button>
  </mat-toolbar>
</p>
