<p>
  <mat-toolbar color="primary">
    <mat-icon *ngIf="backable" (click)="back()" aria-hidden="false" aria-label="filter icon"
              fontIcon="arrow_back_ios"/>
    <mat-icon *ngIf="!backable" style="visibility: hidden" aria-hidden="false" aria-label="filter icon"
              fontIcon="arrow_back_ios"/>
    <button class="primaryColorBG"
            style="border: none; display: flex"
            (click)="home()">
      <img style="align-self: center"
        class="icon"
        src="assets/image/cercleVolcamp2023.png"
        height="42px"
      />
      <span class="f0 volcampanion" style="margin-left: 4px; color: black!important;">Volcampanion</span>
    </button>

    <span [routerLink]="[homeRoute]" class="f2 wideItem" *ngIf="!isMobile">
        Sessions
      </span>
    <span [routerLink]="[speakerRoute]" class="f2 wideItem" *ngIf="!isMobile">
        Speakers
      </span>
    <span *ngIf="logged && !isMobile" [routerLink]="[favoriteRoute]" class="f2 wideItem">
        Favorites
      </span>

    <span class="volcamp-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" *ngIf="filterable" (click)="openFilter()"
            aria-label="filter button">
      <mat-icon aria-hidden="false" aria-label="filter icon" fontIcon="filter_list"/>
    </button>
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="user button">
      <mat-icon aria-hidden="false" aria-label="user icon" fontIcon="account_circle"/>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logInOrOut()">{{logged ? "Se déconnecter" : "Se connecter"}}
        <mat-icon aria-hidden="false" aria-label="login/out icon" fontIcon='{{logged ? "logout" : "login"}}'/>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>


