.topBar
  display: flex
  background: #6FC660
  align-items: center

.volcampanion
  padding: 10px
  user-select: none

.backBtn
  margin-left: 10px

.topBarWideContainer
  padding-left: 25px
  display: flex
  gap: 10px

.wideItem
  transition: 0.5s
  user-select: none


.wideItem:hover
  transform: scale(1.05)
  cursor: pointer

